/* 
.taskCard {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 16px;
    margin: 16px;
    transition: transform 0.2s ease-in-out;
    width: 100%;
    max-width: 400px;
  
}

.taskCard:hover {
    transform: translateY(-4px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

.options {
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.option {
    width: 6px;
    height: 6px;
    background-color: #333;
    border-radius: 50%;
}


.optionButtons {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.options:hover .optionButtons {
    opacity: 1;
}


.description {
    font-size: 1rem;
    color: #555;
    margin-top: 16px;
}


.statusContainer {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.statusText {
    font-size: 0.9rem;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
}

.statusIndicator {
    flex: 1;
    height: 8px;
    border-radius: 4px;
    margin-left: 8px;
}


.dates {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 0.8rem;
    color: #888;
}


.assignedTo {
    font-size: 0.9rem;
    color: #888;
    margin-top: 8px;
    text-align: right;
}


.iconButton {
    background-color: transparent;
    border: none;
    padding: 4px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.iconButton:hover {
    transform: scale(1.1);
}

.editButton {
    color: #3498db;
}

.deleteButton {
    color: #e74c3c;
} */